.background { 
    background-color:rgba(4, 191, 191, 0.3);
    width:320px;
    height:568px;
    position:absolute;
}
.titulo { 
    width:156px;
    height:60px;
    position:absolute;
    left:85px;
    top:114px;
}
.subtitulo_a { 
    color:rgba(83, 89, 95, 1);
    width:156px;
    height:30px;
    position:absolute;
    left:0px;
    top:20px;
    font-family:Reem Kufi;
    text-align:center;
    font-size:20px;
    letter-spacing:0;
}
.subtitulo_b { 
    color:rgba(153, 162, 170, 1);
    width:131px;
    height:30px;
    position:absolute;
    left:13px;
    top:-30px;
    font-family:Reem Kufi;
    text-align:center;
    font-size:20px;
    letter-spacing:0;
}
.imc { 
    width:214px;
    height:111px;
    position:absolute;
    left:55px;
    top:215px;
}
.menu_esquerda { 
    background-image:linear-gradient(0deg, rgba(218, 255, 255, 1) 4.9%,rgba(200, 255, 255, 0.5) 100%) ;
    width:213px;
    height:111px;
    position:absolute;
    left:0px;
    top:0px;
    border-top-left-radius:17.5px;
    border-top-right-radius:17.5px;
    border-bottom-left-radius:17.5px;
    border-bottom-right-radius:17.5px;
}
.menu_direita { 
    transform: rotate(3.1805546814635168e-15deg);
    background-image:linear-gradient(0deg, rgba(213, 255, 255, 1) 4%,rgba(199, 255, 255, 0.5) 100%) ;
    width:115px;
    height:111px;
    position:absolute;
    left:99px;
    top:0px;
    border-radius: 20px;
}
.retangulo_imc { 
    background-color:rgba(255, 255, 255, 1);
    width:33px;
    height:68px;
    position:absolute;
    left:162px;
    top:21px;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
}
.bolinha { 
    border-radius:500px;
    background-color:rgba(4, 191, 191, 1);
    width:15px;
    height:15px;
    position:absolute;
    left:171px;
    top:48px;
}
.texto_imc { 
    color:rgba(84, 90, 96, 1);
    width:72px;
    height:29px;
    position:absolute;
    left:27px;
    top:40px;
    font-family:Reem Kufi;
    text-align:center;
    font-size:20px;
    letter-spacing:0;
}
body{
    background-color: rgba(4, 191, 191, 0.4) !important; 
}